<a href="https://colab.research.google.com/github/prisilveira/Redi/blob/main/Dataframe%20transformation%20C%C3%B3pia_de_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

------------------
```markdown
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com
```
------------------------------
❗❗❗ **IMPORTANT**❗❗❗ **Create a copy of this notebook**

In order to work with this Google Colab you need to create a copy of it. Please **DO NOT** provide your answers here. Instead, work on the copy version. To make a copy:

**Click on: File -> save a copy in drive**

Have you successfully created the copy? if yes, there must be a new tab opened in your browser. Now move to the copy and start from there!

----------------------------------------------

# Transformations
This notebooks is dedicated to the introduction of transformations in Pandas. Transformations are operations that modify data in a DataFrame or Series. These can include defining/droping/editing columns and applying functions.

Let us begin by importing the neccessary libraries import the dataset from the car manufacturing.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/cars.csv")

## Simple Operations in Pandas
There are simple operations that can be done to slightly change the data set. These could be summarized as:

* Creating a new column (with or without value)
* Overwriting pre-existing data
* Defining a new column based on an exisitng column
* Dropping one or more columns/rows

#### Example
Let us see how each simple operation mentioned above can be implemented:

* Creating a new column (with or without value)
* Overwriting pre-existing data

In [ ]:
df['Cost'] = None
df.head(5)

# Set the "Cost" column such that cost is equal to the 70% of the price.
# Your code

* Defining a new column based on an exisitng column

In [ ]:
df['Profit'] = df['Price'] - df['Cost']
df[['Price', 'Cost', 'Profit']].head(5)

# Define a new column called "MM" which adds the strings from "Make" and "Model"
# in the form Make + "_" + Model
# Your code

* Dropping one or more columns/rows

In [ ]:
df = df.drop(columns=['Cost'])
df.head(5)

# Drop the "MM" column
# Your code

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,Profit,Tax
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,NaN,108000.0
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,NaN,96000.0
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,NaN,68243.5
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,NaN,139650.0
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,NaN,40150.0

**Question**: What is the difference between `df = df.drop(columns=['Cost'])` and `df.drop(columns=['Cost'])`?

**Hint**: Check the [drop()](https://www.w3schools.com/python/pandas/ref_df_drop.asp).

### Conditionals on DataFrames
Pandas allows us to apply conditionals on DataFrames using methods from numpy library, i.e., `np.where()` and `np.select()`. These methods allow us to define new columns based on certain conditions. Their functionalites are as follows

* `np.where()`:  Allows for performing an element-wise conditional operation in a DataFrame.
* `np.select()`: Allows for multiple conditions to be applied at once, useful for creating more complex conditionals.

#### Example
Define a new column Discounted that marks cars as "Yes" if their Price is above 20,000 and "No" otherwise.

In [ ]:
df['Discounted'] = np.where(
    # Your code
    )
df[['Model', 'Price', 'Discounted']].head()

#### Example
Define a column Price_Category with the following rules:

* If Price is above 30,000, label it as "High".
* If Price is between 15,000 and 30,000, label it as "Medium".
* Otherwise, label it as "Low".

In [ ]:
conditions = [
    (df['Price'] > 30000),
    (df['Price'] <= 30000) & (df['Price'] >= 15000),
    (df['Price'] < 15000)
]

choices = ['High', 'Medium', 'Low']

df['Price_Category'] = np.select(
    # Your code
    )
print(df[['Model', 'Price', 'Price_Category']].head())

#### Exercise 1
Define a column called "New" which takes the value 1 if the car's production year is greater than 2017 and 0 otherwise.

In [ ]:
df['New'] = np.where(
    # Your code
    )
df[['Year', 'New']].head(5)

#### Exercise 2
Define a column "Age_Category" with the following rules:

* If the Kms is below 15000, label it as "new".
* If the Kms is between 15000 and 50000, label it as "relatively new".
* If the Kms is between 40000 and 100000, label it as "old".
* If the Kms is above 100000, label it as "too old".

In [ ]:
conditions = [
    # Your code
]

choices = ['new', 'relatively new', 'old', 'too old']

df['Price_Category'] = # Your code
print(df[['Model', 'Price', 'Price_Category']].head())

## Applying Functions
The following methods are most commonly used to perfrom transformations:

* `apply()`: Applies a function along an axis (rows or columns).
* `map()`: Maps values from a dictionary or a function to replace values in a panda Series.
* `replace()`: Replaces values in a DataFrame or Series with a specified value or pattern.

#### Example
Create an abbreviation of the `Make` of a car. Create a new column `Brand` that contains the first 3 letters in uppercase of the value from the `Make` columns.

Example: Iff `Make` is `Chrysler`, `Brand` should be `CHR`.

1. Use `apply` with a regular `def` function
1. Use `lambda` function
2. Use only dataframe built-in functionality

In [ ]:
def create_abbrev(make):
    """Creates the abbreviation from a full name.

      Args:
        make: A string containing the full word.

      Returns:
        A string containing the abbreviation.
    """
    return # Your code

df.loc[:, 'Brand'] = df.loc[:, 'Make'].apply(
    # Your code
)

In [ ]:
# Lambda implementation
df.loc[:, 'Brand'] = df.loc[:, 'Make'].apply(
    lambda make: # Your code
)

In [ ]:
# Pandas built-in methods
df.loc[:, 'Brand'] = df.loc[:, 'Make'].str[0:3].str.upper()

#### Example
Map car brands to regions using a dictionary.

<!--
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com.
-->

In [ ]:
brand_region = {
    'Volkswagen': 'Europe', 'Ford': 'North America', 'Mercedes Benz': 'Europe',
    'Honda': 'East Asia', 'Chrysler': 'North America'
    }
df['Region'] = df['Make'].map(
    # Your code
)
print(df[['Make', 'Region']].head(5))

#### Example
Replace the values in the Region column from "East Asia" to "Asia".

In [ ]:
df['Region'] = df['Region'].replace(
    # Your code
)
df.head(5)

#### Exercise 3
Create a new column which calculates the amount of tax per car depending on the year of production for 2024. Use the tax rate of $2.5\%$ for each year.

Example: for Year = 2014 the tax rate would be (2024-2014)*2.5

Perform the task using the `lambda` function.

In [ ]:
df['Tax'] = df.apply(
    lambda row: # Your code,
    axis=1
    )

df[['Year', 'Price', 'Tax']].head(5)

#### Exercise 4
Map car brands to their respective countries using a dictionary and lambda function.

In [ ]:
brand_region = {
    'Volkswagen': 'Germany', 'Ford': 'US', 'Mercedes Benz': 'Germany',
    'Honda': 'Japan', 'Chrysler': 'US'
    }
# Your code
df[['Make', 'Region']].head(5)

In [ ]:
df["Country"] = df["Make"].map(
    lambda make: # Your code
)

**Congratulations! You have finished the Notebook! Great Job!**
🤗🙌👍👏💪
<!--
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com.
-->