<a href="https://colab.research.google.com/github/prisilveira/Redi/blob/main/Introduction_to_Pandas_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Before Wednesday (20th September 2023): Check out the notebook (+ if you have time you can already start with the exercises)
- On Wednesday: Work on the exercises in the class
- Before Monday (25th September 2023): Finish the exercises and submit the solution

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")

In [ ]:
rentals

          Region        Condition  Rooms     Rent  Year_Construction   Space
0          Mitte   first_time_use    4.0  2659.00               2019  117.20
1      Kreuzberg   first_time_use    1.0  1200.00               2020   29.33
2       Köpenick        well_kept    2.0   979.00               1997   83.61
3    Wilmersdorf        well_kept    4.0  1830.22               1900  171.18
4      Kreuzberg   first_time_use    2.0  2272.00               2020   88.27
..           ...              ...    ...      ...                ...     ...
759      Wedding   mint_condition    1.0   959.00               2017   27.80
760      Wedding   mint_condition    1.0   649.00               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.00               2017  110.00
762     Köpenick        well_kept    2.0  1259.00               2017   91.20
763     Neukölln  fully_renovated    2.0   888.00               1990   68.48

[764 rows x 6 columns]

# Basic Dataframe structure

In [ ]:
# Get the first 10 rows in the Dataframe
rentals.head(10)

            Region       Condition  Rooms     Rent  Year_Construction   Space
0            Mitte  first_time_use    4.0  2659.00               2019  117.20
1        Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2         Köpenick       well_kept    2.0   979.00               1997   83.61
3      Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4        Kreuzberg  first_time_use    2.0  2272.00               2020   88.27
5         Köpenick       well_kept    2.0   840.00               1997   73.51
6            Mitte  mint_condition    2.0  1509.45               2015   61.61
7   Charlottenburg       well_kept    2.0   730.73               1900   72.61
8  Friedrichsfelde       well_kept    2.0   561.93               1971   62.40
9       Tiergarten  first_time_use    3.0  1789.00               2020   77.66

In [ ]:
# Get the last 10 rows in the Dataframe
rentals.tail(10)

          Region        Condition  Rooms    Rent  Year_Construction   Space
754        Mitte   no_information    3.0  2155.5               1879   86.42
755   Prenzlauer       modernized    1.0   577.0               1908   48.47
756      Wedding   mint_condition    1.0   772.0               2017   20.50
757   Tiergarten        well_kept    4.0  1970.0               1900  127.00
758     Neukölln       modernized    2.0   693.0               1905   57.00
759      Wedding   mint_condition    1.0   959.0               2017   27.80
760      Wedding   mint_condition    1.0   649.0               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.0               2017  110.00
762     Köpenick        well_kept    2.0  1259.0               2017   91.20
763     Neukölln  fully_renovated    2.0   888.0               1990   68.48

In [ ]:
# Get the columns of the Dataframe
rentals.columns

Index(['Region', 'Condition', 'Rooms', 'Rent', 'Year_Construction', 'Space'], dtype='object')

In [ ]:
# Get the index of the Dataframe. What is the index and what are the columns of a Dataframe?
rentals.index

RangeIndex(start=0, stop=764, step=1)

In [ ]:
rentals.columns

Index(['Region', 'Condition', 'Rooms', 'Rent', 'Year_Construction', 'Space'], dtype='object')

In [ ]:
# Get the number of rows and number of columns in the Dataframe
rentals.shape

(764, 6)

In [ ]:
# What function can you use to quickly get an overview of the Dataframe?
rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             764 non-null    object
 1   Condition          764 non-null    object
 2   Rooms              764 non-null    float64
 3   Rent               764 non-null    float64
 4   Year_Construction  764 non-null    int64
 5   Space              764 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 35.9+ KB

In [ ]:
# What function can you use to quickly get an overview of the numeric columns of a Dataframe?
rentals.describe()

            Rooms          Rent  Year_Construction       Space
count  764.000000    764.000000         764.000000  764.000000
mean     2.549738   1768.560942        1983.695026   84.656270
std      1.010826   1118.263961          48.006060   44.195338
min      1.000000    271.250000        1864.000000   14.000000
25%      2.000000   1039.500000        1959.000000   55.097500
50%      2.500000   1565.480000        2015.000000   77.600000
75%      3.000000   2170.000000        2019.000000  104.450000
max      7.000000  14207.000000        2020.000000  413.910000

In [ ]:
# Create a copy of the Dataframe, `rentals_cp`, get the columns of the Dataframe as a list, lowercase each column
# and set the columns of the Dataframe to this new list.
rentals_cp = rentals.copy()
rentals_cp = list(rentals_cp.columns)
rentals_cp = rentals_cp.columns.str.lower()
rentals_cp

# Create a dictionary of 'old column' -> 'lowercase column' key-values and use
# `rentals.rename` to rename the columns. What's the difference of renaming the columns
# like this compared to the previous way?

# What do you know about "in-place" changes in python/pandas? What does it mean, what are the implications?

AttributeError: 'list' object has no attribute 'columns'

In [ ]:
# Get the unique 'Region' values from the Dataframe

# Indexing with `.loc[]`

In [ ]:
# Use `loc` to get the first, third and tenth row in the Dataframe

In [ ]:
# Use `loc` to get the first, third and tenth row in the Dataframe and only the `Region`, `Rent`, and `Rooms` columns

In [ ]:
# Change the order of the rows in the dataframe like this and check the first 10 rows
rentals_shuffled = rentals.sample(frac=1)
rentals_shuffled.head(10)

# Can you get the first, third and tenth row like before or do you need to change sth?

,Region,Condition,Rooms,Rent,Year_Construction,Space
198,Mitte,no_information,2.0,1180.00,2017,56.00
182,Wedding,need_of_renovation,3.0,670.86,1970,76.00
621,Tiergarten,first_time_use,3.0,2031.52,2019,96.97
129,Tiergarten,no_information,1.0,1038.00,2020,30.00
22,Prenzlauer,mint_condition,3.0,1831.00,2019,72.28
263,Tiergarten,well_kept,2.0,1500.00,1999,61.00
190,Tiergarten,no_information,1.0,960.00,1976,43.10
542,Friedrichsfelde,first_time_use,4.0,1535.30,2020,88.29
363,Tiergarten,first_time_use,3.0,2170.00,2019,105.00
397,Wedding,well_kept,1.0,427.00,1956,37.16

In [ ]:
# Create a copy of the Dataframe. Add a prefix of `row_` to each index value

# Get the first, third and tenth rows in the Dataframe and only the `Region`, `Rent`, and `Rooms` columns

# Indexing with `.iloc[]`

In [ ]:
# Get the first 10 rows with `iloc`

In [ ]:
# Get the first row with `iloc`. Try to implement it in a way that the result
# is a Dataframe. Now implement it, such that the result is not a Dataframe.
# What is the result type in this case?

In [ ]:
# Get all rows and the 'Region' and 'Rent' columns with `iloc`. Do you notice a difference
# for accessing the columns compared to `loc`?

In [ ]:
# What are some differences between accessing a Dataframe with 'loc' vs. 'iloc'?

# Use this example to illustrate the differences a bit.
# Create a new dataframe `rentals_shuffled = rentals.sample(frac=1)`. This is exactly
# the same dataframe. The only difference is that the order of the rows is changed (randomly).
# Look at `rentals` and `rentals_shuffled`. How does the index look? Why is that?
# Run `rentals.iloc[[0, 1, 2]]` and `rentals.loc[[0, 1, 2]]`. Are the results the same? Why/why not?
# Run `rentals_shuffled.iloc[[0, 1, 2]]` and `rentals.loc[[0, 1, 2]]`. Are the results the same? Why/why not?
# How can you get the 3 rows from `iloc` with `loc`?

# Filtering

In [ ]:
# Explain the differences between `rentals['Rooms']==2` and `rentals[rentals['Rooms']==2]`?
# How can the 2nd expression be split into 2 lines of code?

In [ ]:
# Get all rentals that are in 'well_kept' condition. Use `.loc`. How many rows are there?

In [ ]:
# Get all rentals in 'Kreuzberg' that are in 'mint_condition'.
# Why do you need round parantheses to make the code work?

In [ ]:
# Get all rentals that were constructed after 2014

# Assignment with `.loc`

In [ ]:
# Create a new column `datasource`. Assign the constant value 'Immoscout' to each row of that column

In [ ]:
# Change the assignment, such that only the first 10 rows have this value, the rest None

In [ ]:
# Change the assignment, such that only rentals from 'Mitte' have this value

In [ ]:
# Change the assignmnet, such that only rentals with 2 or more rooms, constructed after 2010 have this assignment

In [ ]:
# Add a new column "is_top" which is True if the `Condition` of the aparment is one of 'first_time_use', 'fully_renovated', 'mint_condition', and otherwise False.

In [ ]:
# Update the condition to only include apartments in 'Mitte'. Can you think of 2 ways to achieve this result?

In [ ]:
# Drop the 'datasource' and 'is_top' columns again

# Sorting + Grouping

In [ ]:
# Get the top-20 apartments based on the number of rooms

In [ ]:
# Get the top-20 most expensive and cheapest apartments

In [ ]:
# For the top-20 lists from above, count how many aparments there are per region.
# Sort the output, such that the region with the highest count is on top. Try to
# implement the solutions with `groupby` first and then with `value_counts`.
# What data structure is the result? How does it differ from a Dataframe?

# Grouping

In [ ]:
# Get the average rent over all apartments

In [ ]:
# Get the average rent per region (sort the results) and get the value for region 'Kreuzberg'.
# Turn the output into a Dataframe and the column which represents the average rent should be named 'avg_rent'

In [ ]:
# Get the average rent grouped by region and condition. Try to use the different ways for doing aggregations as discussed during the class.
# What's the avg. rent for an apartment in 'Mitte' in 'well_kept' condition?

In [ ]:
# Do different aggregations per (Region, Condition)
# 1. The average rent
# 2. The most recent construction year
# 3. The biggest apartment by space
# 4. The total number of rooms across all apartments
# The result should be a dataframe with 6 columns: 'Region', 'Condition', 'avg_rent', 'newest_year', 'biggest_apt', 'total_rooms'

# Bonus Questions

In [ ]:
# How many apartments are in Mitte in a 'well-kept' condition?

In [ ]:
# How many apartments are there in Kreuzberg built before 1900?

In [ ]:
# What are the average spaces of the apartments by the number of rooms?

In [ ]:
# Which is the most expensive region on average and what is the maximum rent for this region?

In [ ]:
# What are the min, max and average number of rooms of the apartments in 'Köpenick'?

In [ ]:
# Calculate the average rent of each region for new buildings, that means buildings built after 1950.

# Bonus Dataset

In [ ]:
import seaborn as sns

taxis = sns.load_dataset('taxis')
taxis.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [ ]:
# Create a copy of the Dataframe and increase the 'fare' for any ride where the 'payment' is 'credit card' by 20% using .loc[]

In [ ]:
# Try and reproduce the following table:

![Untitled.png]()

# Bonus: Local work environment setup

Colab notebooks are great to show code in class, but it's useful to know how to work in a local setup on your machine (that's usually how you'll work at a company). The easiest setup is using Visual Studio Code (VS Code), an open-source [IDE](https://en.wikipedia.org/wiki/Integrated_development_environment) by Microsoft, and its extensions for notebooks and data science packages. If you're interested and have time, try to set up VS Code on your machine, and look into some tutorials for creating notebooks and data science packages. Once you're familiar with it, you can try to do some of the exercises in your notebooks there. If you feel confident, you can continue working with your
local setup throughout the class
* VS Code: https://code.visualstudio.com/
* Data Science in VS Code: https://code.visualstudio.com/docs/datascience/overview
* Working with notebooks in VS Code: https://code.visualstudio.com/docs/datascience/jupyter-notebooks
* Data Science tutorial in VS Code (the parts about machine learning are not so relevant): https://code.visualstudio.com/docs/datascience/data-science-tutorial

**Note**: The following is more about a ubiquitous tool used at software companies. It's not necessary to get too familiar with it when you're starting, but it can be useful if you want to work at a software company or on a software project with multiple people and on the same code.

Github is a platform where all kinds of companies, organizations, people, etc. put and manage their code (there are other similar platforms, such as GitLab, Bitbucket, ... but Github is the most commmon and the principles are the same). If you're interested to find out more, check out their intro tutorial https://github.com/skills/introduction-to-github. If you like you can also check out more tutorials https://skills.github.com/.