<a href="https://colab.research.google.com/github/prisilveira/Redi/blob/main/Priscila's_Prework_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

------------------------------
# IMPORTANT!!! Create a copy of this Colab!

In order to work with this Google Colab you need to create a copy of it. Please **DO NOT** provide your answers here. Instead, work on the copy version. To make a copy:

**Click on: File -> save a copy in drive**

Have you successfully created the copy? if yes, there must be a new tab opened in your browser. Now move to the copy and start from there!

----------------------------------------------

# Welcome to Prework of ReDI's Course: **Data Analytics** üéâ

This Colab is divided into two parts:

**1. Get Started with Google Colab** - A short introduction on how to use Google Colab.

**2. Challenge** - A short challenge for you to work on. It has further resources for you to follow up on the topics.

# 1. Get Started with Google Colab

We use Google Colab in the course. Colab, or "Colaboratory", allows you to write and execute Python in your browser. Whether you're a **student**, a **data scientist** or an **AI researcher**, Colab can make your work easier. Watch [Introduction to Colab](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more, or just get started below!

The document you are reading is an interactive environment called a **Colab notebook** that lets you write and execute code. When you create your own Colab notebooks, they are stored in your Google Drive account. You can easily share your Colab notebooks with co-workers or friends, allowing them to comment on your notebooks or even edit them. To learn more, see [Overview of Colab](/notebooks/basic_features_overview.ipynb). To create a new Colab notebook you can use the File menu above, or use the following link: [create a new Colab notebook](http://colab.research.google.com#create=true).

Colab notebooks are Jupyter notebooks that are hosted by Colab.

# 2. Challenge

To have a smooth start in the Data Analytics course, we ask you to review essential python concepts. Please follow the To Do's below and add your code to the cells. If you are unsure about a concept, check out the additional resources and research yourself to solve it :)

**Example**

To Do: Create a variable called *income* and assign 40.00 to it.

In [1]:
income = 40.00

What dtype will the defined variable have?

In [2]:
print(type(income))

<class 'float'>

**I. Import Packages**

To Do: Import Pandas and Numpy

In [4]:
import pandas as pd
import numpy as np


*Need help? Free online course to review Python concepts: [FreeCodeCamp Course](https://www.freecodecamp.org/learn/scientific-computing-with-python/) or *

**II. Variables and Types**

To Do: Assign a equal to 3 and assign b equal to 5. Multiply the two variables and print the result.

In [6]:
a=3
b=5
result=a*b
print(result)

15

To Do: Print the type of the variable a

In [7]:
print(type(result))

<class 'int'>

*Need help? Online course to review Python concepts: [FreeCodeCamp Course](https://www.freecodecamp.org/learn/scientific-computing-with-python/) or [Dataquest Introduction to Python Programming](https://www.dataquest.io/course/introduction-to-python/)(only the free parts, not the paid ones!)*

**III. Lists**

To Do: Add the following Item to the list below:

9

In [10]:
my_list_of_numbers = [1, 15, 18, 77, 18, 18, 89, 7]

my_list_of_numbers.append(9)

print(my_list_of_numbers)

[1, 15, 18, 77, 18, 18, 89, 7, 9]

To Do: Print the 3rd to the 5th item of the list

In [11]:
print("The third and the fifth elements are:", my_list_of_numbers[2], "and", my_list_of_numbers[4], ", respectively")

The third and the fifth elements are: 18 and 18 , respectively

To Do: Print the last item of the list

In [13]:
last_el= my_list_of_numbers[-1]
print("The last element of my list is:",last_el)

The last element of my list is: 9

To Do: Create an array using the above-given list.

In [20]:
my_array = np.array(my_list_of_numbers)
print(my_array)
print(type(my_array))

[ 1 15 18 77 18 18 89  7  9]
<class 'numpy.ndarray'>

**IV. Dictionaries**

To Do: Print all keys and all values

In [21]:
fruits = {'apple':3,
           'pear':2,
           'banana':1
          }
print(fruits)

{'apple': 3, 'pear': 2, 'banana': 1}

*Need help? Review Dictionaries in these Online Courses: [DataCamp](https://www.datacamp.com/tutorial/dictionary-python), [FreeCodeCamp](https://www.freecodecamp.org/learn/scientific-computing-with-python/)*

**V. Functions**

To Do: Create a function that takes a string as an argument and adds a exclamation point to it, and returns the result.

In [51]:
def word(input_string):
  result=input_string+"!"
  print(result)

word ("RediSchool")

RediSchool!

In [49]:
def enter_a_string():
    input_string = input("Enter a word: ")
    result= input_string + "!"

    # Print the result
    print(result)

#test whether it works
enter_a_string()

Enter a word: RediSchool
RediSchool!

*Need Help? [kaggle resource](https://www.kaggle.com/code/colinmorris/functions-and-getting-help), [FreeCodeCamp Tutorial](https://www.freecodecamp.org/news/python-functions-define-and-call-a-function/)*

**VI. Pandas**

To Do: Execute the following cell to import the Berlin Housing Dataset. Make sure you imported pandas.

In [52]:
flats = pd.read_csv('https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv')

To Do: Print the first 5 rows.

In [54]:
print(flats.head())

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     K√∂penick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

To Do: Get the type of *Condition*

In [55]:
print(type(flats['Condition']))

<class 'pandas.core.series.Series'>

To Do: How many rows and columns does *flats* have?

In [70]:
flats.shape

(764, 6)

In [71]:
type(flats.shape)

tuple

In [61]:
print("The dataframe has", flats.shape[0], "rows and ", flats.shape[1], "columns")

The dataframe has 764 rows and  6 columns

*Need Help? [kaggle resource](https://www.kaggle.com/learn/pandas), [Datacamp Resource](https://www.datacamp.com/tutorial/pandas)*.

# Congratulations - You are Done! üëç

Now you mark your Prework as complete and finish the Application Form. In the Application Form we ask you to share the link to this Google Colab!

**Please update the sharing settings: Share with everyone. So that we can open your Colab.**